ILM Appliance ({{ czertainly_appliance_version }})

ILM management interface is available on https://ilm.local/administrator/.

You should put the following line to your hosts file for the first connection to ILM:

\4    ilm.local
